<p><%= link_to 'Cities', City %></p>
<p><%= link_to 'Neighborhoods', Neighborhood %></p>
<p><%= link_to 'Listings', Listing %></p>
<p><%= link_to 'Reservations', Reservation %></p>
<p><%= link_to 'Reviews', Review %></p>
<p><%= link_to 'Users', User %></p>